<%= provide :title, 'Menu' %>
<div id="menu">
  <div class="display-items">

    <!-- Section navigation -->
    <div class="row">
      <div class="col-md-2 col-sm-3">
        <div class="row">
          <div class="box side-menu">
            <ul class="nav nav-pills nav-stacked">
              <li class="nav-item">
                <%= link_to 'All', menu_path(filter: params[:filter]), class: "nav-link #{"active" if !params[:section]}" %>
              </li>
              <% @sections.each do |section| %>
                <li class="nav-item">
                  <%= link_to section.name, menu_path(section: section.name, filter: params[:filter]), class: "nav-link #{"active" if params[:section] == section.name}" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <!-- Filter navigation -->
        <div class="row">
          <div class="box side-menu">
            <ul class="nav nav-pills nav-stacked">
              <li class="nav-item">
                <%= link_to 'Normal', menu_path(section: params[:section]), class: "nav-link #{"active" if !params[:filter]}" %>
              </li>
              <% @filters.each do |filter| %>
                <li class="nav-item">
                  <%= link_to filter, menu_path(filter: filter, section: params[:section]), class: "nav-link #{"active" if params[:filter] == filter}" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <!-- Filtered Food Items -->
      <div class="col-md-10 col-sm-9">
        <div class="items box fluid">
          <!-- Table -->
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 10%">No</th>
                <th style="width: 20%">Name</th>
                <th style="width: 60%">Description</th>
                <th style="width: 5%%">Price</th>
                <th style="width: 5%"></th>
              </tr>
            </thead>
            <!-- Table body -->
            <tbody>
              <% @food_items_filterd.each do |item| %>
                <%= render partial: 'shared/item', locals: {item: item} %>
              <% end %>
            </tbody> <!-- end body -->
          </table> <!-- end table -->

        </div>

      </div>

    </div>

</div>
