<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - Up Restaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(document).on('turbolinks:load',function() {
          $('.tooltipster').tooltipster();
      });
    </script>

  </head>

  <body>
    <% if !current_page?(root_path) %>
      <div class="box fluid">
        <div class="nav-home">
          <%= link_to '', root_path, class: "glyphicon glyphicon-home pure" %>
        </div>
        <h1 class="title">
          <%= yield :title %>
        </h1>
      </div>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
